@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.AnalysisContainer {
    width: 850px;
    height: 239px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 28px;
    display: inline-flex;
}

.WelcomeBack {
    color: #191c32;
    font-size: 30px;
    font-family: Manrope;
    font-weight: 700;
    word-wrap: break-word;
}

.Goals {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    display: inline-flex;
}

.Cards {
    justify-content: flex-start;
    align-items: flex-end;
    gap: 32px;
    display: flex;
}

.Steps {
    width: 200px;
    height: 170px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.Steprectangle5 {
    width: 200px;
    height: 170px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #1ab0b0;
}

.Steps2 {
    left: 43px;
    top: 20px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Manrope;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

.stepNumber {
    left: 18px;
    top: 51px;
    position: absolute;
    color: white;
    font-size: 32px;
    font-family: Manrope;
    font-weight: 700;
    line-height: 38px;
    word-wrap: break-word;
}

.goalspercent {
    left: 18px;
    top: 126px;
    position: absolute;
    color: #e9e9e9;
    font-size: 14px;
    font-family: Manrope;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
}

.Steps1 {
    left: 112px;
    top: 61px;
    position: absolute;
    color: #fafafa;
    font-size: 16px;
    font-family: Manrope;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.stepRectangle3 {
    width: 161px;
    height: 8px;
    left: 18px;
    top: 110px;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.stepRectangle4 {
    width: 84px;
    height: 8px;
    left: 18px;
    top: 110px;
    position: absolute;
    background: white;
    border-radius: 10px;
}

/*---calories section starts here---*/
.Calories {
    width: 200px;
    height: 170px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.Caloryrectangle3 {
    width: 200px;
    height: 170px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #3b9dff;
}

.Reading {
    width: 105px;
    height: 105px;
    left: 47px;
    top: 52px;
    position: absolute;
}

.Ellipse13 {
    width: 105px;
    height: 105px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
}


.Ellipse14 {
    width: 105px;
    height: 105px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
    border-radius: 9999px;
}

.Today {
    left: 33px;
    top: 60px;
    position: absolute;
    color: rgba(54, 54, 54, 0.6);
    font-size: 14px;
    font-family: Manrope;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
}

.Under {
    left: 34px;
    top: 82px;
    position: absolute;
    color: rgba(54, 54, 54, 0.6);
    font-size: 13px;
    font-family: Manrope;
    font-weight: 700;
    line-height: 16px;
    word-wrap: break-word;
}

.Calory {
    left: 17px;
    top: 20px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    display: inline-flex;
}

.Cal {
    width: 22px;
    height: 22px;
    padding-top: 1.83px;
    padding-bottom: 1.83px;
    padding-left: 4.58px;
    padding-right: 4.18px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Vector1 {
    width: 13.24px;
    height: 18.33px;
    background: white"

}

.Calories1 {
    color: white;
    font-size: 16px;
    font-family: Manrope;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

/*----------water starts here----------*/
.Water {
    width: 200px;
    height: 170px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.Waterrectangle3 {
    width: 200px;
    height: 170px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #ff7443;
}

.Topology11 {
    width: 259px;
    height: 252.95px;
    left: -17px;
    top: -41px;
    position: absolute;
}

.Water1 {
    left: 17px;
    top: 20px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    display: inline-flex;
}

.WaterIcon {
    width: 22px;
    height: 22px;
    padding-top: 1.83px;
    padding-bottom: 1.83px;
    padding-left: 4.58px;
    padding-right: 4.11px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.waterVector {
    width: 13.31px;
    height: 18.33px;
    background: white"

}

.Water2 {
    color: white;
    font-size: 16px;
    font-family: Manrope;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

.WaterShape {
    width: 83px;
    height: 83px;
    left: 58px;
    top: 58px;
    position: absolute;
}

.waterNo {
    left: 30px;
    top: 24px;
    position: absolute;
    color: white;
    font-size: 13px;
    font-family: Manrope;
    font-weight: 700;
    word-wrap: break-word;
}

.Liters {
    left: 24px;
    top: 42px;
    position: absolute;
    color: white;
    font-size: 13px;
    font-family: Manrope;
    font-weight: 700;
    word-wrap: break-word;
}

.Ellipse12 {
    width: 83px;
    height: 83px;
    left: 0px;
    top: 0px;
    position: absolute;
    border-radius: 10px;
    border: 5.5px white solid;
}

/*------buttons starts here-------------*/
.Buttons {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex;
}

.Button1 {
    width: 154px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #41a0ff;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.CreateGoal {
    color: white;
    font-size: 16px;
    font-family: Manrope;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
}

.Button2 {
    width: 154px;
    width: 154px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    border: 0.5px #409fff solid;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.Continue {
    color: #409fff;
    font-size: 16px;
    font-family: Manrope;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
}